
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0; 
}
body{
    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: italic;
    background-color:#ECDFCC;
    

}
html{
    scroll-behavior: smooth;
}
p{
    color: #3C3D37;
}
/* Transition  */
a,.btn{
    transition: all 0.3s ease;
}


/* for the nav-bar start*/
nav,
.nav-links{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
   
}
nav {
    justify-content: space-between;
    align-items: center;
    background-color: #697565;
    height: 10vh;
}
.nav-links{
    gap: 5rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: #3C3D37;
    text-decoration: none;
    text-decoration-color: #ECDFCC;

}
a:hover{
    color: #ECDFCC;
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color:#ECDFCC;
}
.logo {
    font-size: 2rem;
    color: white;
}
.logo:hover{
    cursor: default;
    font-size: 4rem;
    color: #ECDFCC;
}

/* for the nav-bar end */

/* Hamburger menu */
#hamburger-nav{
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;

}
.hamburger-icon span{
    height: 2px;
    width: 100%;
    background-color: #3C3D37;
    transition: all 0.3s ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1 rem;
    color: #3C3D37;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: #3C3D37 0.25rem solid;
}
.menu-links li{
    list-style: none;

}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child(){
    transform: none;
}
.hamburger-icon span:first-child(){
    opacity: 1;
}
.hamburger-icon span:first-child(){
    transform: none;
}
/* Hamburger menu end */
.header{
    padding: 10px; /* Heading with my name on it */
    text-align: center;
    background-color: #ECDFCC;
    color: #3C3D37;
    
}
/* SECTIONS  */
section{
    padding: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
/* profile */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section_pic-container{
    display: flex;
    height: 460px;
    width: 400px;
    margin: auto 0;
}
.section_text{
    align-self: center;
    text-align: center;

}
.section_text p{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.section_text_p1{
    color: #3C3D37;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    
}
.section_text_p2{
    color: #3C3D37;
    font-size: 1.75rem;
    margin: 1rem;
}
.title{
    font-size: 3rem;
    text-align: center;
}
#socials-contianer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
.icon{
    cursor: pointer;
    height: 2rem;
}
/* Buttons */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem ;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1,
.btn-color-2{
    border: rgb(53,53,53) 0.1rem solid;

}
.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
   
}
.btn-color-1,
.btn-color-2:hover{
    background-color: rgb(53,53,53);
    color: white;
}
.btn-color-1:hover{
    background-color: black;
}
.btn-color-2{
    color: #3C3D37;;
    background: none;
}
.btn-color-2:hover{
    border: rgb(255,255,255)  0.1rem solid;
}
.btn-container{
    gap: 1rem;
}
/* About Section  */

#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container{
    display: flex;
    
}
.about-pic{
  
    border-radius: 2rem;
}
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    color: #ECDFCC;
    background:#697565;
    border-radius: 2rem;
    border: #697565 0.1rem solid;
    border-color: #3C3D37;
    text-align: center;
}
.details-container p{
    color: #ECDFCC;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section_pic-container{
    height: 460px;
    width: 400px;
    margin: auto 0;
}